
footer {
    margin: 15px 0;
}


.footerDireccion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 30px;
    font-size: 1.2rem;
    
    @media (min-width: 600px) and (max-width: 992px) {
        justify-content: space-evenly;
    }

    @media (max-width: 552px) {
        flex-direction: column;
        align-items: center;

        .footerinfo {
        text-align: center;
        display: flex;
        li:first-of-type {
            margin-right: 20px;
            }        
        }
    }

    .footerinfo {
        margin: 15px;
        color: black;
    }
    
    .colorblanco {
        color: white;
    }
}

.footerRedes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    margin-top: 10px;
    }
.footerRedes i {
    color: $colorFloreste;
    font-size: 20px;
    padding: 10px;
}

ul {
    list-style-type: none;
}