
header {
    padding-top: 16px;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        

        .menu-abrir, .menu-cerrar {
            display: none;
        }

        .logo2 {
            display: none;
        }
        @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;
            .logoIndex {
                display: none;
            }

            .logo2 {
                display: block;
                flex-basis: 70%;
                margin-bottom: 0;
            }

            a {
                margin-bottom: 20px;
                color: white;
            }
        }
        a {
            flex-basis: 30%;
        }
        

        @media (max-width: 552px) {
            flex-direction: row;
            justify-content: space-around;

            .logoIndex {
                display: none;
            }

            .logo2 {
                display: block;
                flex-basis: 70%;
                margin-bottom: 0;
            }

            .menu-abrir, .menu-cerrar {
                display: block;
            }

            .menu-abrir {
                    color: $colorRosaMed;
            }
            .menuabrir1 {
                color: white;
            }

            nav {
                position: absolute;
                top: -400%;
                width: 100%;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                background-color: $colorRosaMed;
                transition: top .4s ease-out;
                a {
                    color: rgb(75, 75, 75);
                }

                &:target {
                    margin-top: -20px;
                    top: 0;
                }
            }
        }

        nav {
            flex-basis: 65%;
            display: flex;
            justify-content: flex-end;
            .colorblanco {
                color: white;
            }

            a {
                margin-left: 14px;
                padding: 5px 10px;
                font-size: 18px;
                color: black;
                font-weight: 700;
                text-decoration: none;

                &:hover {
                    color: $colorFloreste;
                }
            }
        }
    }
}