
header {
    padding-top: 16px;

    .header-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        
        .menu-abrir, .menu-cerrar {
            display: none;
        }

        .logo2 {
            display: none;
        }
        //TABLET
        @media (min-width: 600px) and (max-width: 992px){
            flex-direction: column;
            align-items: center;
            .logoIndex {
                display: none;
            }

            .logo2 {
                display: block;
                flex-basis: 70%;
                margin-bottom: 0;
            }

            a {
                margin-bottom: 20px;
                color: white;
            }
        }
        a {
            flex-basis: 30%;
        }
        
        //SMARTPHONE
        @media (max-width: 599px) {
            .container1 {
                justify-content: center;
                align-content: center;
            }

            .logoIndex {
                display: none;
            }

            .logo2 {
                display: block;
                flex-basis: 70%;
                margin-bottom: 0;
            }

            .menu-abrir, .menu-cerrar {
                display: block;
            }

            .menu-abrir {
                    color: $colorRosaMed;
                    margin-left: 8rem;
            }
            .menuabrir1 {
                color: white;
            }

            nav {
                position: absolute;
                z-index: 1;
                top: -400%;
                width: 400px;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                background-color: $colorRosaMed;
                transition: top .4s ease-out;
                a {
                    color: rgb(75, 75, 75);
                }

                &:target {
                    margin-top: -20px;
                    top: 0;
                }
            }
        }

        nav {
            flex-basis: 65%;
            display: flex;
            justify-content: flex-end;
            .colorblanco {
                color: white;
            }

            a {
                margin-left: 20px;
                padding: 10px 15px;
                font-size: 1.2rem;
                color: black;
                font-weight: 700;
                text-decoration: none;

                &:hover {
                    color: $colorFloreste;
                }
            }
        }
    }
}