
.fondoIndex {
    height: 1200px;
    background-image: url(../media/fondo3prueba.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
section {
    .flexBienvenidos {
        height: 30vh;
        width: auto;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }
}


.gridTextos {
    margin-bottom: 40vh;
    height: 700px;
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2rem;
        grid-template-areas: 
        "texto1 ."
        ". texto2"
}
    h2#texto1 {
        grid-area: texto1;
    }
    p#texto2 {
        grid-area: texto2;
    }

section {
    #texto1 {
        padding: 60px;
        margin-top: 40px;
        box-sizing: border-box;
        text-align: center;
        color: white;
        font-size: 2rem;
    }
    #texto2 {
        padding: 60px;
        box-sizing: border-box;
        text-align: center;
        align-content: flex-end;
        color: white;
        font-size: 2rem;
        font-weight: 700;
    }
        @media (max-width: 599px) {
            margin-bottom: 20vh;
            #texto1 {
                width: 350px;
                padding: 20px;
                margin-top: 5px;
                margin-left: 35px;
                box-sizing: border-box;
                text-align: center;
                color: white;
                font-size: 1.5rem;
            }
            #texto2 {
                width: 350px;
                padding: 30px;
                margin-left: -220px;
                box-sizing: border-box;
                text-align: center;
                align-content: center;
                color: white;
                font-size: 1.5rem;
                font-weight: 700;
        }

    }
}
.tituloH1 {
    margin-top: 50px;
}    


@media (min-width: 600px) and (max-width: 992px) {
    .contenidoPrincipal {
        display: block;
        align-items: center;
        width: auto;
        margin-left: 50px;
    }
    
}