
body {
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.contenedorNosotros {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    .contenedor-sobrenosotros {
        width: 50%;
        margin: 0 1rem;
        display: block;
        align-items: center;
        text-align: justify;

        p {
            font-size: 2rem;
            text-align: center;
            color: $colorRosaFuerte;
        }
    
        h1 {
            font-size: 3.5rem;
            color: black;
        }
    }

    .contenedor-historia {
        width: 50%;
        margin: 2rem 1rem;
        
        .textoHistoria {
            margin-top: 5rem;
            margin-right: 3rem;
            color: black;
            text-align: justify;
            font-size: 1.5rem;
        }
    }
    //TABLET
    @media (min-width: 600px) and (max-width: 992px) {
        display: block;
        align-items: center;
        text-align: center;
        .contenedor-sobrenosotros 
        {
            display: block;
            width: 100%;
        }
        .contenedor-historia {
            display: block;
            width: 50rem;
            height: auto;
            .textoHistoria {
                margin-top: 1.5rem;
                margin-left: 1.5rem;
                padding: 1rem;
            }
        }

    }

    @media (max-width: 599px) {
        display: block;
        align-content: center;
        .contenedor-sobrenosotros {
            width: 23.125rem;
        }
        .contenedor-historia {
            width: 23.75rem;
            margin-top: 1rem;
            margin-left: 1.5rem;
            
            .textoHistoria {
                margin-bottom: 0;
            }
        }
    }
}

.contenedorCarrusel {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba($color: $colorFloreste, $alpha: 0.5);
	border-radius: 4px;
}

    .carruselfotos {
        height: auto;
        margin: 0.5rem;
    }  
    @media (max-width: 599px) {
        .contenedorCarrusel {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
.contenedorGrid {
    align-items: center;
    align-content: center;

    } 
.gridMapa {
        height: 37.5rem;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 1fr; 
        grid-template-rows: auto auto;
        grid-template-areas: 
            "tituloMapa mapaGoogle"
            "informacion1 mapaGoogle"
        }
    
    h2#tituloMapa {
            grid-area: tituloMapa;
            margin-top: 20px;
            font-size: 3rem;
            color: $colorRosaFuerte;
            text-align: center;
        }
    p#informacion1 {
            grid-area: informacion1;
            padding: 5px;
            margin: 5px;
            font-size: 1.5rem;
            text-align: justify;
        }
    iframe#mapaGoogle {
            grid-area: mapaGoogle;
            margin-top: 20px;
        }
        //SMARTPHONE
        @media (max-width: 599px) {
            .contenedorGrid {
                display: block;
                align-items: center;
                width: 100%;
                margin-left: 15px;
                .tituloMapa {
                    justify-content: center;
                    text-align: center;
                }
                p { 
                    width: 21.085rem;
                    margin-left: 10px;
                }
            }
            iframe {
                display: block;
                align-content: center;
                border-radius: 5px;
                margin-left: 1rem;
                width: 20rem;
                height: auto;
        }
        }
        // TABLET
        @media (min-width: 600px) and (max-width: 992px) {
            body {
                overflow-x: hidden;
            }
            .contenedorGrid {
                display: block;
            align-items: center;
            
                .tituloMapa {
                    justify-content: center;
                    text-align: center;
                }
                p {
                    width: 46.875rem;
                    #informacion1 {
                        margin: 31.25rem;
                        padding: 0;
                        text-align: center;
                        align-items: center;
                    }
                }
            }
            iframe {
                display: block;
                border-radius: 5px;
                margin-left: 5rem;
                width: 40rem;
                height: 20rem;
        }
    }
.footer2 {
    height: auto;

    a {
        color: black;
    }
}
