
.carruselfotos {
    width: 1400px !important;
    height: auto;
    margin: 60px;
    padding: 25px;
}    
.contenedorNosotros {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
        
    @media (max-width: 900px) {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .fotoNosotros {
        margin: 30px;
        padding: 15px;
        width: 650px;
    }

    .textoSobreNosotros {
        text-align: justify;
    }

    .colorh1 {
        color: $colorRosaFuerte;
    }
}
.textoHistoria {
        color: black;
        padding: 20px;
        margin: 40px 30px;
        font-size: 18px;
        text-align: justify;
}

.contenedorCarrusel {
        display: flex;
        flex-wrap: nowrap;
}

.footer2 {
    height: auto;
    }

.footer2 a {
        color: black;
    }

.contenedorGrid {
    align-items: center;
    margin-left: 100px;
    
}    
.gridMapa {
        height: 400px;
        display: grid;
        grid-template-columns: 50% 1fr; 
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        grid-template-areas: 
            "tituloMapa mapaGoogle"
            "informacion1 mapaGoogle"
        }
    
    
    h2#tituloMapa {
            grid-area: tituloMapa;
            margin: 20px;
            color: $colorRosaFuerte;
            text-align: justify;
        }
    p#informacion1 {
            grid-area: informacion1;
            padding: 10px;
            margin: 5px;
            text-align: justify;
        }
    iframe#mapaGoogle {
            grid-area: mapaGoogle;
            margin-top: 20px;
        }