
.titulo-contacto {
    font-size: 1.5em;
    color: white;
}
.contenedorForm {
    display: flex;
    justify-content: center;
    background-color: $colorFloreste;
    opacity: 50;
	border-radius: 2px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin: 0 2em;
}

.formulario1 {
    width: 400px;
    height: auto;
	border-radius: 3px;
	padding: 10px;
	display: flex;
	align-items: center;
	position: relative; 
    background-color: #fff;  
    box-shadow: 10px 15px 25px 0 rgba(.2,0,0,1);;  
}

.estiloform {
    align-items: center;
}

.textoForm {
    margin-top: 30px;
    font-size: 18px;
    color: white;
    text-align: center;
}

.botonPedidos {
    background-color: $colorRosaMed !important;
    border: none !important;
}