* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
  width: auto;
}

body {
  background-color: white;
  font-family: "Raleway", sans-serif !important;
  height: 1200px;
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
}

.container1 {
  max-width: 1600px;
  height: 0 auto;
}

h1 {
  color: white;
  text-align: center;
  font-size: 38px;
  padding: 15px 15px 20px 25px;
}

h2, h3 {
  color: white;
  margin: 20px;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

.fondoIndex {
  height: 1200px;
  background-image: url(../media/fondo3prueba.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

section .flexBienvenidos {
  height: 30vh;
  width: auto;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gridTextos {
  margin-bottom: 40vh;
  height: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 2rem;
      grid-template-areas: "texto1 ." ". texto2";
}

h2#texto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: texto1;
}

p#texto2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: texto2;
}

section #texto1 {
  padding: 60px;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: 2rem;
}

section #texto2 {
  padding: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 599px) {
  section {
    margin-bottom: 20vh;
  }
  section #texto1 {
    width: 350px;
    padding: 20px;
    margin-top: 5px;
    margin-left: 35px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 1.5rem;
  }
  section #texto2 {
    width: 350px;
    padding: 30px;
    margin-left: -220px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.tituloH1 {
  margin-top: 50px;
}

@media (min-width: 600px) and (max-width: 992px) {
  .contenidoPrincipal {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    margin-left: 50px;
  }
}

body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.contenedorNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorNosotros .contenedor-sobrenosotros {
  width: 50%;
  margin: 0 1rem;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.contenedorNosotros .contenedor-sobrenosotros p {
  font-size: 2rem;
  text-align: center;
  color: #ff8695;
}

.contenedorNosotros .contenedor-sobrenosotros h1 {
  font-size: 3.5rem;
  color: black;
}

.contenedorNosotros .contenedor-historia {
  width: 50%;
  margin: 2rem 1rem;
}

.contenedorNosotros .contenedor-historia .textoHistoria {
  margin-top: 5rem;
  margin-right: 3rem;
  color: black;
  text-align: justify;
  font-size: 1.5rem;
}

@media (min-width: 600px) and (max-width: 992px) {
  .contenedorNosotros {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contenedorNosotros .contenedor-sobrenosotros {
    display: block;
    width: 100%;
  }
  .contenedorNosotros .contenedor-historia {
    display: block;
    width: 50rem;
    height: auto;
  }
  .contenedorNosotros .contenedor-historia .textoHistoria {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    padding: 1rem;
  }
}

@media (max-width: 599px) {
  .contenedorNosotros {
    display: block;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contenedorNosotros .contenedor-sobrenosotros {
    width: 23.125rem;
  }
  .contenedorNosotros .contenedor-historia {
    width: 23.75rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
  }
  .contenedorNosotros .contenedor-historia .textoHistoria {
    margin-bottom: 0;
  }
}

.contenedorCarrusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: rgba(238, 212, 215, 0.5);
  border-radius: 4px;
}

.carruselfotos {
  height: auto;
  margin: 0.5rem;
}

@media (max-width: 599px) {
  .contenedorCarrusel {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contenedorGrid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.gridMapa {
  height: 37.5rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "tituloMapa mapaGoogle" "informacion1 mapaGoogle";
}

h2#tituloMapa {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tituloMapa;
  margin-top: 20px;
  font-size: 3rem;
  color: #ff8695;
  text-align: center;
}

p#informacion1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: informacion1;
  padding: 5px;
  margin: 5px;
  font-size: 1.5rem;
  text-align: justify;
}

iframe#mapaGoogle {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: mapaGoogle;
  margin-top: 20px;
}

@media (max-width: 599px) {
  .contenedorGrid {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-left: 15px;
  }
  .contenedorGrid .tituloMapa {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .contenedorGrid p {
    width: 21.085rem;
    margin-left: 10px;
  }
  iframe {
    display: block;
    -ms-flex-line-pack: center;
        align-content: center;
    border-radius: 5px;
    margin-left: 1rem;
    width: 20rem;
    height: auto;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  .contenedorGrid {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedorGrid .tituloMapa {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .contenedorGrid p {
    width: 46.875rem;
  }
  .contenedorGrid p #informacion1 {
    margin: 31.25rem;
    padding: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  iframe {
    display: block;
    border-radius: 5px;
    margin-left: 5rem;
    width: 40rem;
    height: 20rem;
  }
}

.footer2 {
  height: auto;
}

.footer2 a {
  color: black;
}

.fotoProductos {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tituloProductos {
  color: #ff8695;
  text-align: center;
  margin: 50px;
  padding: 5px;
}

.cardsBT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardsBT img {
  -webkit-filter: grayscale(50%) contrast(80%);
          filter: grayscale(50%) contrast(80%);
}

.claseSinBorde {
  border: none !important;
}

.estilo-cajas-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.estilo-cajas-productos:hover {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.btn-colorfloreste {
  background-color: #f79ea9 !important;
  border: none !important;
}

.hover-fade img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hover-fade:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  filter: alpha(opacity=0.5);
  opacity: 0.5;
}

@media (min-width: 599px) {
  .estilo-cajas-productos {
    display: inline-block !important;
  }
}

.contenedor {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contenedor-texto {
  background-color: #eed4d7;
  position: absolute;
  width: 600px;
  height: 800px;
  left: 700px;
  top: 40px;
}

.contenedor-texto h1 {
  color: #ff8695;
}

.contenedor-texto p {
  width: 300px;
  height: auto;
  display: block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: justify;
  font-size: 22px;
  margin-left: 150px;
}

.botonEventos {
  background-color: #f79ea9 !important;
  border: none !important;
  position: absolute;
  right: 100px;
  bottom: 100px;
}

.img-media {
  display: none;
}

.contenedor-img {
  position: absolute;
  top: 45%;
  left: 500px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  z-index: 1;
}

.contenedor-img img {
  width: 600px;
  height: 680px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(50%) contrast(80%);
          filter: grayscale(50%) contrast(80%);
  -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  display: block;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.contenedor-img:hover img {
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.contenedor-img .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.contenedor-img .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: rotate(45deg) translate(-450%, 0);
          transform: rotate(45deg) translate(-450%, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-img:hover .glow {
  -webkit-transform: rotate(45deg) translate(450%, 0);
          transform: rotate(45deg) translate(450%, 0);
  -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-img:hover img, .contenedor-img:hover .glow-wrap {
  margin-top: 0;
}

@media (max-width: 599px) {
  html {
    overflow-x: hidden;
  }
  .contenedor {
    display: block;
    -webkit-transition: none;
    transition: none;
    width: 100vh;
    height: auto;
  }
  .contenedor .contenedor-texto {
    background-color: white;
    position: relative;
    width: 100vh;
    height: auto;
    display: block;
    left: 0;
    top: 0;
  }
  .contenedor .contenedor-texto h1 {
    color: #ff8695;
    width: 20rem;
    margin-top: 3rem;
  }
  .contenedor .contenedor-texto p {
    width: 20rem;
    height: auto;
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: justify;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 10px;
  }
  .contenedor .img-media {
    display: block;
    height: auto;
    margin-left: 20px;
  }
  .contenedor .img-media img {
    width: 340px;
    -webkit-filter: grayscale(50%) contrast(80%);
            filter: grayscale(50%) contrast(80%);
  }
  .contenedor .contenedor-img {
    display: none;
  }
  .contenedor .botonEventos {
    background-color: #f79ea9 !important;
    border: none !important;
    position: relative;
    margin-left: 10rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .contenedor {
    display: block;
    -webkit-transition: none;
    transition: none;
    width: 60vh;
    height: auto;
  }
  .contenedor .contenedor-texto {
    background-color: white;
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    left: 0;
    top: 0;
  }
  .contenedor .contenedor-texto h1 {
    color: #ff8695;
    margin-top: 3rem;
    text-align: center;
  }
  .contenedor .contenedor-texto p {
    width: 700px;
    height: auto;
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: justify;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-left: 20px;
  }
  .contenedor .img-media {
    display: block;
    -ms-flex-line-pack: center;
        align-content: center;
    height: auto;
    margin-left: 5rem;
  }
  .contenedor .img-media img {
    width: 600px;
    -webkit-filter: grayscale(50%) contrast(80%);
            filter: grayscale(50%) contrast(80%);
  }
  .contenedor .contenedor-img {
    display: none;
  }
  .contenedor .botonEventos {
    background-color: #f79ea9 !important;
    border: none !important;
    position: relative;
    margin-left: 20rem;
  }
}

.espaciado-formulario {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.titulo-contacto {
  font-size: 1.5em;
  color: white;
  font-weight: 500;
}

.contenedorForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(238, 212, 215, 0.7);
  border-radius: 2px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0 2em;
  margin-bottom: 40vh;
}

.formulario1 {
  width: 400px;
  height: auto;
  border-radius: 3px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 10px 15px 25px 0 black;
          box-shadow: 10px 15px 25px 0 black;
}

.formulario1 .space-form {
  margin: 4px;
  display: block;
}

.textoForm {
  margin-top: 30px;
  font-size: 2rem;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.botonPedidos {
  background-color: #f79ea9 !important;
  border: none !important;
}

header {
  padding-top: 16px;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .header-container .menu-abrir, header .header-container .menu-cerrar {
  display: none;
}

header .header-container .logo2 {
  display: none;
}

@media (min-width: 600px) and (max-width: 992px) {
  header .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-container .logoIndex {
    display: none;
  }
  header .header-container .logo2 {
    display: block;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin-bottom: 0;
  }
  header .header-container a {
    margin-bottom: 20px;
    color: white;
  }
}

header .header-container a {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media (max-width: 599px) {
  header .header-container .container1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header .header-container .logoIndex {
    display: none;
  }
  header .header-container .logo2 {
    display: block;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin-bottom: 0;
  }
  header .header-container .menu-abrir, header .header-container .menu-cerrar {
    display: block;
  }
  header .header-container .menu-abrir {
    color: #f79ea9;
    margin-left: 8rem;
  }
  header .header-container .menuabrir1 {
    color: white;
  }
  header .header-container nav {
    position: absolute;
    z-index: 1;
    top: -400%;
    width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f79ea9;
    -webkit-transition: top .4s ease-out;
    transition: top .4s ease-out;
  }
  header .header-container nav a {
    color: #4b4b4b;
  }
  header .header-container nav:target {
    margin-top: -20px;
    top: 0;
  }
}

header .header-container nav {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-container nav .colorblanco {
  color: white;
}

header .header-container nav a {
  margin-left: 20px;
  padding: 10px 15px;
  font-size: 1.2rem;
  color: black;
  font-weight: 700;
  text-decoration: none;
}

header .header-container nav a:hover {
  color: #eed4d7;
}

footer {
  margin: 15px 0;
}

.footerDireccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 30px;
  font-size: 1.2rem;
}

@media (min-width: 600px) and (max-width: 992px) {
  .footer-content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 552px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content .footerinfo {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-content .footerinfo li:first-of-type {
    margin-right: 20px;
  }
}

.footer-content .footerinfo {
  margin: 15px;
  color: black;
}

.footer-content .colorblanco {
  color: white;
}

.footerRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  margin-top: 10px;
}

.footerRedes i {
  color: #eed4d7;
  font-size: 20px;
  padding: 10px;
}

ul {
  list-style-type: none;
}
/*# sourceMappingURL=main.css.map */