* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  position: relative;
}

body {
  background-color: white;
  font-family: "Raleway", sans-serif !important;
  height: 1200px;
  width: 100%;
}

.container1 {
  max-width: 1600px;
  height: 0 auto;
}

h1 {
  color: white;
  text-align: center;
  font-size: 38px;
  padding: 15px 15px 20px 25px;
}

h2, h3 {
  color: white;
  margin: 20px;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

header {
  padding: 16px 0;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .header-container .menu-abrir, header .header-container .menu-cerrar {
  display: none;
}

@media (max-width: 768px) {
  header .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-container a {
    margin-bottom: 20px;
  }
}

header .header-container a {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  color: black;
}

@media (max-width: 552px) {
  header .header-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .header-container .logo {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin-bottom: 0;
  }
  header .header-container .menu-abrir, header .header-container .menu-cerrar {
    display: block;
  }
  header .header-container nav {
    position: absolute;
    top: -400%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f79ea9;
    -webkit-transition: top .4s ease-out;
    transition: top .4s ease-out;
  }
  header .header-container nav a {
    color: #4b4b4b;
  }
  header .header-container nav:target {
    margin-top: -20px;
    top: 0;
  }
}

header .header-container nav {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-container nav a {
  margin-left: 14px;
  padding: 5px 10px;
  font-size: 18px;
  color: black;
  font-weight: 700;
  text-decoration: none;
}

header .header-container nav a:hover {
  color: #eed4d7;
}

footer {
  margin: 5px;
}

.footerDireccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 18px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 10px 25px;
}

@media (max-width: 992px) {
  .footer-content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 552px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content .footerinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-content .footerinfo li:first-of-type {
    margin-right: 20px;
  }
}

.footer-content .footerinfo {
  margin: 15px;
}

.footerRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  margin-top: 10px;
}

.footerRedes i {
  color: #eed4d7;
  font-size: 20px;
  padding: 10px;
}

ul {
  list-style-type: none;
}

.fondoIndex {
  height: 900px;
  background-image: url(../media/fondo3prueba.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

section .flexBienvenidos {
  height: 30vh;
  width: auto;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gridTextos {
  height: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 0.5rem;
      grid-template-areas: "texto1 ." ". texto2";
}

h2#texto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: texto1;
}

p#texto2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: texto2;
}

section #texto1 {
  padding: 20px;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: 22px;
}

section #texto2 {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 529px) {
  section #texto2 {
    overflow: hidden;
  }
}

.carruselfotos {
  width: 1500px !important;
  height: auto;
  margin: 60px;
  padding: 25px;
}

.contenedorNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .contenedorNosotros {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contenedorNosotros .fotoNosotros {
  margin: 30px;
  padding: 15px;
  width: 650px;
}

@media (max-width: 768px) {
  .contenedorNosotros .fotoNosotros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contenedorNosotros .textoSobreNosotros {
  text-align: justify;
}

@media (max-width: 768px) {
  .contenedorNosotros .textoSobreNosotros {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contenedorNosotros .colorh1 {
  color: #ff8695;
}

.textoHistoria {
  color: black;
  padding: 20px;
  margin: 40px 30px;
  font-size: 18px;
  text-align: justify;
}

@media (max-width: 768px) {
  .textoHistoria {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contenedorCarrusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer2 {
  height: auto;
}

.footer2 a {
  color: black;
}

@media (max-width: 768px) {
  .gridMapa {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.gridMapa {
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 0.5rem;
      grid-template-areas: "tituloMapa mapaGoogle" "informacion1 mapaGoogle";
}

h2#tituloMapa {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tituloMapa;
  margin: 20px;
  color: #ff8695;
  text-align: justify;
}

p#informacion1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: informacion1;
  padding: 10px;
  margin: 5px;
  text-align: justify;
}

iframe#mapaGoogle {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: mapaGoogle;
  margin-top: 20px;
}

.fotoProductos {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tituloProductos {
  color: #ff8695;
  text-align: center;
  margin: 50px;
  padding: 5px;
}

.cardsBT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardsBT img {
  -webkit-filter: grayscale(50%) contrast(80%);
          filter: grayscale(50%) contrast(80%);
}

.claseSinBorde {
  border: none !important;
}

.estilo-cajas-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.estilo-cajas-productos:hover {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.btn-colorfloreste {
  background-color: #f79ea9 !important;
  border: none !important;
}

.hover-fade img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hover-fade:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  filter: alpha(opacity=0.5);
  opacity: 0.5;
}

.contenedor {
  width: 900px;
  height: 1000px;
  position: relative;
}

.contenedor-texto {
  background-color: #eed4d7;
  position: absolute;
  width: 600px;
  height: 800px;
  left: 700px;
  top: 40px;
}

.contenedor-texto h1 {
  color: #ff8695;
}

.contenedor-texto p {
  width: 300px;
  height: auto;
  display: block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: justify;
  font-size: 22px;
  margin: 150px;
}

.botonEventos {
  background-color: #f79ea9 !important;
  border: none !important;
  position: absolute;
  right: 100px;
  bottom: 100px;
}

.contenedor-img {
  position: absolute;
  top: 45%;
  left: 500px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  z-index: 1;
}

.contenedor-img img {
  width: 600px;
  height: 680px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(50%) contrast(80%);
          filter: grayscale(50%) contrast(80%);
  -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  display: block;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.contenedor-img:hover img {
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.contenedor-img .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.contenedor-img .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: rotate(45deg) translate(-450%, 0);
          transform: rotate(45deg) translate(-450%, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-img:hover .glow {
  -webkit-transform: rotate(45deg) translate(450%, 0);
          transform: rotate(45deg) translate(450%, 0);
  -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-img:hover img, .contenedor-img:hover .glow-wrap {
  margin-top: 0;
}

.bodyPedidos {
  height: 900px;
}

.titulo-eventos {
  font-size: 24px;
  color: #f79ea9;
  margin-bottom: 30px;
}

.contenedorForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../media/producto-alfajores.JPG);
  background-size: cover;
  border-radius: 3px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.formulario1 {
  width: 400px;
  height: auto;
  border-radius: 3px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 10px 15px 25px 0 black;
          box-shadow: 10px 15px 25px 0 black;
}

.estiloform {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textoForm {
  margin-top: 30px;
  font-size: 18px;
  color: #f79ea9;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.botonPedidos {
  background-color: #f79ea9 !important;
  border: none !important;
}
/*# sourceMappingURL=main.css.map */